.collection {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 1vh 2vw;
}

.collection-title {
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    margin-bottom: 1rem;
    width: 100%;
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

